
<!DOCTYPE html>
<html>
    <head>
      <script>
        var api = '{{ datafrompython["api"] }}'
        var route1lat  ='{{ datafrompython["route1lat"] }}'
        var route1long  ='{{ datafrompython["route1long"] }}'
        var route2lat  ='{{ datafrompython["route2lat"] }}'
        var route2long ='{{ datafrompython["route2long"] }}';
      </script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale = 1.0">
        <meta http-equiv="X-UA-Compatible">
        <title>SmartTracker</title>
        <link rel = "icon" href = "https://cdn4.iconfinder.com/data/icons/aiga-symbol-signs/630/aiga_bus_on_grn_circle-256.png" type = "image/x-icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div class="container">
                <div class="nav">
                    <nav>
                        <ul>
                          <li><a href="https://www.google.com" >Home</a></li>
                          <li class="li2"><a href="https://www.google.com">Google</a></li>
                          <li><a href="http://www.hitam.org/index.html">Hitam</a></li>
                        </ul>
                    </nav>
                </div>   
                <div class="titletext">Smart Vehicle Tracker</div>
                <p style="text-align: center; font-size: calc((5vh+6vw)/2);">Built using Gps+Gsm+Mcu and Flask framework</p> 
      </div>
        <div class="containertwo">
          <h1 style="font-size: calc((10vh+10vw)/2);"> Live maps </h1>
          
          
          <div class="register">
            <a href='https://wa.me/14155238886?text=join%20hurry-disease'>
            <button> Click here to get notifications</button></a>
          </div>
          <div class="box">
            <div class="rightbox">
              <h1 style="text-align: left; font-size: 2vw; color: white;">Route 1</h1>
              <p style="margin-top: 10%;">Bus number: AP09XO1698</p>
              <p>Driver name: Rajesh kumar</p>
              <p>First stop: Here</p>
              <p>Last stop: There</p>
              <p>Current stop: Near place</p>
            </div>
            <div class="leftbox">
            <iframe
                  id="route1class"
                  style="border:0"
                  loading="lazy"
                  width=100%
                  height=100%
                  allowfullscreen
                  src= ""></iframe>
            <script> 
            document.getElementById("route1class").src = 'https://www.google.com/maps/embed/v1/place?key='+api+'&q='+route1lat+','+route1long;
            </script>
            </div>
          </div>
          <div class="box">
            <div class="rightbox">
              <h1 style="text-align: left; font-size: 2vw; color: white;">Route 2</h1>
              <p style="margin-top: 10%;">Bus number: AP09XO1698</p>
              <p>Driver name: Rajesh kumar</p>
              <p>First stop: Here</p>
              <p>Last stop: There</p>
              <p>Current stop: Near place</p>
            </div>
            <div class="leftbox">
            <iframe
              id="route2class"
              style="border:0"
              loading="lazy"
              width=100%
              height=100%
              allowfullscreen
              src= ""></iframe>
          <script>
          document.getElementById("route2class").src = 'https://www.google.com/maps/embed/v1/place?key='+api+'&q='+route2lat+','+route2long;
          </script>
            </div>
          </div>
          <div class="box">
            <div class="rightbox">
              <h1 style="text-align: left; font-size: 2vw; color: rgb(255, 255, 255);">Route 3</h1>
              <p style="margin-top: 10%;">Bus number: AP09XO1698</p>
              <p>Driver name: Rajesh kumar</p>
              <p>First stop: Here</p>
              <p>Last stop: There</p>
              <p>Current stop: Near place</p>
            </div>
            <div class="leftbox">
            <!--<iframe
                  style="border:0"
                  loading="lazy"
                  width=100%
                  height=100%
                  allowfullscreen
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQt3Ir60hDUp-5Qfqw5vljuU4_h5ofAAI
                    &q=17.595031,+78.452215"></iframe>-->
            </div>
          </div> 
          <div class="box">
            <div class="rightbox">
              <h1 style="text-align: left; font-size: 2vw; color: rgb(255, 255, 255);">Route 4</h1>
              <p style="margin-top: 10%;">Bus number: AP09XO1698</p>
              <p>Driver name: Rajesh kumar</p>
              <p>First stop: Here</p>
              <p>Last stop: There</p>
              <p>Current stop: Near place</p>
            </div>
            <div class="leftbox">
            <!--<iframe
                  style="border:0"
                  loading="lazy"
                  width=100%
                  height=100%
                  allowfullscreen
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQt3Ir60hDUp-5Qfqw5vljuU4_h5ofAAI
                    &q=17.595031,+78.452215"></iframe>-->
            </div>
          </div> 
        </div>
    </body>
</html>
            

            
          
          
            