/********** common setting **********/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
html {
    scroll-behavior: smooth;
}
h2 {
    font-size: 2.8rem !important;
    
}
h4{
      font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
}


img {
    display: block;
    max-width: 100%;
}
.ft{
    font-family: 'Inter', sans-serif;
    letter-spacing: -5px;
}

a,
button {
    cursor: pointer;
}

.jumbotron {
    margin-bottom: 0 !important;
}

.atlas-cta {
    border-radius: 16px !important;
    padding: 12px 30px !important;
    font-weight: 700;
    transition: .3s ease-in-out !important;
}

.atlas-cta:hover {
    text-decoration: none;
    transform: translateY(-5px);
}

.atlas-cta-wide {
    width: 100%;
}

.cta-green {
    background: #18cf95;
    color: #192440;
}

.cta-green:hover {
    color: #ffffff;
    background: #057250;
}

.cta-blue {
    background: #233157;
    color: #ffffff;
}

.cta-blue:hover {
    color: #ffffff;
    background: #070a11;
}

.cta-ghost {
    border: 2px solid #192440 !important;
    color: #192440;
}

.cta-ghost:hover {
    color: #ffffff;
    background: #121a2e;
}

#banner {
    background-size: cover;
}

/********** banner **********/
#banner header {
    overflow: hidden;
}

#banner header img {
    max-width: 80px;
}

/********** feature (skew background) **********/
.feature img {
    width: 100%;
    max-width: 480px;
}

#feature-first {
    
    background: linear-gradient(168deg, #ffffff 55%, #00FFAD 0);
}

#feature-last {
    
    background: #00FFAD;
}

/********** price table **********/
#price-table {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}

#price-table__premium {
    background: #192440;
    color: #ffffff;
}

#price-table ul li {
    padding: 5px 0;
}

/********** contact **********/
#contact {
    background-size: cover;
}

#contact ul li {
    padding: 3px 0;
}

#contact form {
    color: #00FFAD;
}

#contact form input,
#contact form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

/********** copyright **********/
#copyright {
    background: #192440;
    padding: 2rem 3rem;
}

#copyright #social-media a {
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

#copyright #social-media a i {
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}

#copyright #social-media a:hover {
    background: #00FFAD;
}

#copyright #social-media a:hover i {
    color: #ffffff;
}

/********** RWD **********/
@media (max-width: 575px) {
    #banner h1 {
        font-size: 3.6rem;
        font-family: 'Inter', sans-serif;

    }
}
.box{
    content: "";
    display: table;
    clear: both;
    margin-left:calc(100vw/4);
    margin-top: 5%;
    background-color: #15334c;
    background-image: linear-gradient(90deg, #15334c 0%, #88bfbf 72%, #ffffff 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

    
.box div{
    
    float: left;
    width: calc(50vw/2);
    height: 30vw;
    padding-left: 20px;
    

}
.rightbox{
    text-align: left;
}
.leftbox{

    width:100%;
    height:100%;    
}

.mapo{
    height:100%;
    margin-left: 50%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    display: flex;
    max-width: 70%;
    margin-top: 5%;
    margin-left: 17.5%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
}


.course-preview {
    background-color: #213d5b;
    background-image: linear-gradient(270deg, #213d5b 5%, #053a5b 86%);
    
	color: #fff;
	padding: 3%;
	max-width: 300px;
    align-items: center;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
    align-items: right;
}

.course-info {
	
	position: relative;
}
p{
    letter-spacing: -0.5px;
    font-family: 'inter',sans-serif;
}












